misc/check_fkbp5.R
bsseq (Selective Sync Conflict)/
rdas
*.rda
## Log files
logs
.DS_Store
.Rapp.history
.Rhistory
public_atacseq
.Rproj.user
## Files to exclude now that the repo is public
/misc/mCA_means_Ebert.R
ATAC/
CREs/DMV_results_summary.rtf
CREs/PMD-results_summary.rtf
CREs/UMR_LMR_results_summary.rtf
CREs/code/UMR_LMR_PWMEnrich.r
CREs/code/merge_hypoDMRs.sh
CREs/code/merge_hypoDMRspren.sh
DMR/CT_Age_Interaction/code/DMR_euclidean_distance_and_interaction_trend_exploration.R
DMR/CT_Age_Interaction/code/plot_PGC2_interaction_DMRs.r
DMR/parse_infant_neurons.R
PWMEnrich/code/DMRs_PWMEnrich.R
PWMEnrich/code/DMV_TFs.r
PWMEnrich/code/construct_TF-TF_networks.R
PWMEnrich/code/explore_TF_binding.r
PWMEnrich/code/explore_expression_inContextof_TFs.r
PWMEnrich/code/explore_interactionDMR_TFBS.r
RnBeads/
array/
brain-epigenomics.Rproj
check_fetal_quality.R
chromatin/
meQTLs/
misc/CACNA1C_APOE_explore_CpGs.R
misc/SNX19_explore_CpGs.R
misc/SNX19_explore_CpGs.Rout
misc/SNX19_pullData.R
misc/atacFullCov.R
misc/atacFullCov.sh
misc/complete_CpGs.sh
misc/extract_FKBP5.R
misc/glia_mean_meth.R
misc/liftover_exons.R
misc/placenta_RPS_DMR_enrichment.R
misc/rps.snpZ4D.p5e-08.snp
misc/rps.snpZ4Dexc.p5e-08.snp
non-CpG/code/mCA_means_Ebert.R
plot_bumps.R
plots/
public_WGBS/
single_CpGs/code/levelplot_decon.pdf
single_CpGs/code/neuronal_subtype_deconvolution.R
single_CpGs/code/neuronal_subtype_deconvolution_array.R
single_CpGs/code/parse_infant_neurons_singleCpGs.R
single_CpGs/run_regression.R
sorted_nuclear_RNA/code/PCA_distance_heatmap.R
sorted_nuclear_RNA/code/SGSeq_sortedRNA.R
sorted_nuclear_RNA/code/example_expression_forPaper.R
sorted_nuclear_RNA/code/merge_sorted_nuclear_RNA_bams.sh
sorted_nuclear_RNA/code/sortedRNA_expression_vs_methylation_meanGlialMeth_stratified.R
szLinks/
topMillionVar_explore_aj.R
varPart/
